@import "../theme.scss";

.Home {
    display: flex;
}

.HomeRow {
    display: flex;
    width: 100%;
}

.HomeRow > .HomeRowElement {
    display: flex;
    margin: 5px;

    &:first-child {
        width: 70%;
    }

    &:last-child {
        width: 30%;
    }
}